@import "_mixins.scss";
@import "_variables.scss";

body {
  font-family: $body-font-family;
}

/*
  1rem <=> 16 px
*/

// Custom class
@each $num in $nums-rem {
  .custom {
    &__top-#{$num} {
      top: #{$num}rem;
    }

    &__fw-#{$num} {
      font-weight: #{$num}00;
    }
  }
}

// Custom scrollbar
::-webkit-scrollbar {
  border-radius: 0;
  width: 0.5rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: rgba(152, 147, 149, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(152, 147, 149, 0.8);
}

// Global class
.text-hover:hover {
  color: $success !important;
}

.bg-custom-primary {
  background-color: $primary;
}

.bg-custom-yellow-cream {
  background-color: $yellowCream;
}

.text-line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.3;
}

// Custom active class nav__link
.nav__link .nuxt-link-exact-active {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
}

// Custom sidebar menu
#sidebar-menu {
  width: 100%;
}

#sidebar-menu .b-sidebar-body {
  background-color: #f0f0f0;
}
